/* +++++++ STYLESHEET PROJEKTE ++++++++++ */

/* +++ BILDER +++ */

/* ------------ TOPPER --------------- */

#topper-first-projekte {
  background-image: url("../images/scott-webb-167099-unsplash.jpg");
}


/* +++ PROJEKTE HAUPTSEITE +++ */
/* ---- WOHNEN ---- */

/* ---- EINFAMILIENHAUS CAROUSEL---- */
#efh1 {
  background-image: url("../images/luke-stackpoole-561551-unsplash.jpg");
}

#efh2 {
  background-image: url("../images/pixasquare-622732-unsplash.jpg");
}

#efh3 {
  background-image: url("../images/luke-stackpoole-561551-unsplash.jpg");
}

#efh4 {
  background-image: url("../images/pixasquare-622732-unsplash.jpg");
}


/* ---- MEHRFAMILIENHAUS CAROUSEL---- */

#mfh1 {
  background-image: url("https://images.unsplash.com/photo-1451153378752-16ef2b36ad05?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d066245d73e72d59ca174847c8d844e0&auto=format&fit=crop&w=2847&q=80");
}

#mfh2 {
  background-image: url("https://images.unsplash.com/photo-1517607112705-487bf6486e7c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=637645c08ea70578b7d68dfaa0f50409&auto=format&fit=crop&w=2652&q=80");
}

#mfh3 {
  background-image: url("https://images.unsplash.com/photo-1501311409379-25beadb726c9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3a97d9f4600b4b59045e21b83eca8c5&auto=format&fit=crop&w=1650&q=80");
}

#mfh4 {
  background-image: url("https://images.unsplash.com/photo-1486424792350-18be29dd8bd4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5b543554f02d3a9ad0270fe62ea0f2d5&auto=format&fit=crop&w=1653&q=80");
}



/* --- GEWERBE CAROUSEL--- */

#gw1 {
 background-image: url("https://images.unsplash.com/photo-1508759191076-7d83edf34fb5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c64c81c5deafd7393ddde926517ba238&auto=format&fit=crop&w=2091&q=80");
}

#gw2 {
 background-image: url("https://images.unsplash.com/photo-1530758857751-3c6e5147e24d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70b78fd36e67ad51f46f491066a3fa2c&auto=format&fit=crop&w=1000&q=80");
}

#gw3 {
 background-image: url("https://images.unsplash.com/photo-1455472467710-3b204ed59394?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6750da6c358b00bd8b70f00946ecb13&auto=format&fit=crop&w=1650&q=80");
}

#gw4 {
 background-image: url("https://images.unsplash.com/photo-1471974620639-76a238d1027b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca66a1997006531b64cc1f263997d9b1&auto=format&fit=crop&w=668&q=80");
}


/* --- SANIERUNGEN CAROUSEL--- */

#san1 {
 background-image: url("https://images.unsplash.com/photo-1508759191076-7d83edf34fb5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c64c81c5deafd7393ddde926517ba238&auto=format&fit=crop&w=2091&q=80");
}

#san2 {
 background-image: url("https://images.unsplash.com/photo-1530758857751-3c6e5147e24d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70b78fd36e67ad51f46f491066a3fa2c&auto=format&fit=crop&w=1000&q=80");
}

#san3 {
 background-image: url("https://images.unsplash.com/photo-1455472467710-3b204ed59394?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6750da6c358b00bd8b70f00946ecb13&auto=format&fit=crop&w=1650&q=80");
}

#san4 {
 background-image: url("https://images.unsplash.com/photo-1471974620639-76a238d1027b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca66a1997006531b64cc1f263997d9b1&auto=format&fit=crop&w=668&q=80");
}


/* --- OEFFENTLICH CAROUSEL---  */

#oef1 {
 background-image: url("https://images.unsplash.com/photo-1508759191076-7d83edf34fb5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c64c81c5deafd7393ddde926517ba238&auto=format&fit=crop&w=2091&q=80");
}

#oef2 {
 background-image: url("https://images.unsplash.com/photo-1530758857751-3c6e5147e24d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70b78fd36e67ad51f46f491066a3fa2c&auto=format&fit=crop&w=1000&q=80");
}

#oef3 {
 background-image: url("https://images.unsplash.com/photo-1455472467710-3b204ed59394?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6750da6c358b00bd8b70f00946ecb13&auto=format&fit=crop&w=1650&q=80");
}

#oef4 {
 background-image: url("https://images.unsplash.com/photo-1471974620639-76a238d1027b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca66a1997006531b64cc1f263997d9b1&auto=format&fit=crop&w=668&q=80");
}


/* +++ BILDER MATERIALIEN +++ */

#beton {
  background-image: url("https://images.unsplash.com/photo-1521811628991-7a3ea581f7d1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e9b66653567152f26b29fe9177eeaf4f&auto=format&fit=crop&w=200&q=80");
}

#holz {
  background-image: url("https://images.unsplash.com/photo-1519120693210-d47b03b31d77?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b8d462021896b6a8825629fb69a04b4&auto=format&fit=crop&w=200&q=80");
}

#stein {
  background-image: url("https://images.unsplash.com/photo-1522140243784-a1df85e3c0f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=22869aa404c1f1bdb90c7d18214e7f48&auto=format&fit=crop&w=200&q=80");
}

#klinker {
  background-image: url("https://images.unsplash.com/photo-1520758594221-872948699332?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=40920a9cc2babc9bd460d49b155622f9&auto=format&fit=crop&w=200&q=80");
}



/* +++ PROJEKTE EINZELSEITEN +++ */

/* +++ EFH1 +++ */


    /* ** Bauplan ** */

    #efh1-2-1 {
      background-image: url("https://www.tektorum.de/attachments/bauherren-auftraggeber/1981d1414525420-bauplan-eg.jpg");
    }

    #efh1-2-2 {
      background-image: url("http://schwedenhaus.homepage.t-online.de/bauplaene/schwedenhaus-magnus-grundrisse-h.png");
    }

    #efh1-2-3 {
      background-image: url("http://phgraphics.net/wp-content/uploads/2018/06/bauplan-download-boot-avec-sandkasten-schiff-bauanleitung-et-banda-plan-42-sandkasten-schiff-bauanleitung-sur-la-cat-gorie-interior-design-und-decor.jpg");
    }

    #efh1-2-4 {
      background-image: url("https://verlagshaus24.de/media/image/thumbnail/9-13589_720x600.jpg");
    }

/* +++ EFH2 +++ */


/* +++ EFH3 +++ */


/* +++ EFH4 +++ */



/* -------------- PROJEKTE ---------------- */
.projekt-container, .materialen-container {
  padding: 2rem 0;
}

.projekt-container:nth-child(odd) {
  background: #3b4147;
  color: whitesmoke;
}

.projekt-container h2 {
  text-align: center;
  padding: 2rem 0;
}

.projekt-container h3 {
  text-align: center;
}

.projekt-container p {
  text-align: justify;
  font-size: 2rem;
  padding: 0 3rem;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.projekt-container:nth-child(odd) .carousel-indicators li {
  border: 1px solid whitesmoke;
}

.projekt-container:nth-child(even) .carousel-indicators li {
  border: 1px solid #3b4147;
}

.projekt-container:nth-child(odd) li {
  background-color: whitesmoke;
}

.projekt-container:nth-child(odd) .carousel-indicators .active {
  background: #3b4147;
}

.projekt-container:nth-child(even) .carousel-indicators .active {
  background: #3b4147;
}

.projekt-container:nth-child(even) .carousel-control-next, .projekt-container:nth-child(even) .carousel-control-prev {
  color: #3b4147;
}

.projekt-box {
    height: 40vh;
    width: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 5rem;
    /* border: 0.3rem solid #3b4147eb; */
    -webkit-box-shadow: 7px 5px 9px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 7px 5px 9px 0px rgba(0,0,0,0.55);
    box-shadow: 7px 5px 9px 0px rgba(0,0,0,0.55);
    /* display: flex !important;
    justify-content: center;
    align-items: center; */
  }

  .carousel-caption {
      position: relative;
      left: auto;
      right: auto;
      padding: 0 0 1.5rem 0;
  }

/* .projekt-text {
    background-color: rgba(123, 134, 112, 1);
    height: 70%;
    color: red;
  } */

.materialien {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.materialien-img {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20vh;
  max-height: 20vh;
  min-width: 20vh;
  max-width: 20vh;
  border-radius: 50%;
}
