/* Gloabal settins */

html {
  font-size: 62.5%;
  width: 100%;
  font-family: 'Gruppo', cursive;
  color: #41474d;
}

body {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  background-color: #c5c5ce36;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

i {
  font-size: 3rem;
}

    /* ================== NAVIGATION ============== */
nav {
  position: fixed;
  z-index: 2005;
  background-color: #f2f2f4;
  width: 100%;
  max-width: 1500px;
  height: 10vh;
  transition: width 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.hidden {
  width: 0;
}


    /* =================NAVIGATION - MOBILE ============= */



/* ---------- NAV - MENU ICON ------- */

.nav-button {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 3rem;
    height: 0.5rem;
    background-color: #cdcdce;
    margin: 0.5rem 0;
    transition: 0.4s;
    /* z-index: 1200; */
}

.change.bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #cdcdce;
}

.change.bar2 {opacity: 0;}

.change.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -5px);
    background-color: #cdcdce;
}

/* ================= NAV-MOBILE-LOGO ================= */

.nav-mobile-logo {
 width: 30vw;
 height: auto;
}


  /* --------------- NAV MOBILE CONTENT --------------- */

.nav-mobile-content {
  height: 0;
  text-align: center;
  overflow-x: hidden;
  transition: height ease-in 0.2s;
}

.nav-mobile-content.change {
  height: 100vh;

}

.nav-mobile-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #cdcdce;
    display: block;
    transition: 0.3s;
}

.nav-mobile-content a:hover, .nav-mobile-content a:focus {
  color: #ffffff;
}




    /* =================== NAVIGATION - DESKTOP ==============  */

.nav-desktop{
  display: none;
}

/* ===================== MAIN ========================= */

main {
  width: 100%;
}

/* ============== Topper ================= */

.topper {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #c5c5ce36 ; */
  text-align: center;
}

.topper-first {
  margin-top: 8vh;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-backgound-size: cover;
  -moz-backgound-size: cover;
  background-size: cover;
  background-attachment: local;
}

#topper-first-index {
  background-image: url("../images/daniel-mccullough-348488-unsplash.jpg");
}

.topper_h1 {
  font-size: 4.5rem;
  color: whitesmoke;
}

.topper-second {
  height: 100%;
  min-height: 100vh;
  background: #3b4147;
  color: whitesmoke;
}

#topper_img {
  background-image: url("../images/maria-fernanda-gonzalez-569256-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30vh;
  max-height: 30vh;
  min-width: 30vh;
  max-width: 30vh;
  border-radius: 50%;
  /* border: 0.5rem solid #41474d; */
  margin: auto;
  /* -webkit-box-shadow: 10px 10px 22px 0px rgba(59,65,71,1);
  -moz-box-shadow: 10px 10px 22px 0px rgba(59,65,71,1);
  box-shadow: 1px 3px 5px 0px #3b4147,
              5px 5px 10px 0px lightgrey,
              10px 10px 22px 0px whitesmoke; */
  cursor: pointer;
}

.overlay-vita {
  min-height: 30vh;
  max-height: 30vh;
  min-width: 30vh;
  max-width: 30vh;
  background-color: #3b4147d4;
  color: whitesmoke;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in;
  /* transition: display 0.2s ease-in; */
  border-radius: 50%;
}

.overlay-vita:hover {
  opacity: 1;
}

/* .appear-vita {
  opacity: 1;
} */


.topper_name {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

#topper_name_h2 {
  padding-top: 3rem;
}

.topper_name h3 {
  font-size: 1.4rem;
}

.topper_address {
  display: flex;
  flex-flow: column;
  padding-bottom: 3rem;
}

.topper_address a, .topper_address h3 {
  padding-top: 2rem;
}

#topper_address_mail_icon {
  grid-area: icon-mail;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
  color: whitesmoke;
}

#topper_address_handy_icon {
  grid-area: icon-handy;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
  color: whitesmoke;
}

#topper_address_street_icon {
  grid-area: icon-street;
  -webkit-transition: color  .3s ease-in;
  transition: color .3s ease-in;
  color: whitesmoke;
}

#topper_address_mail {
  grid-area: topper-mail;
}

#topper_address_handy {
  grid-area: topper-handy;
}

#topper_address_street {
  grid-area: topper-street;
}

#topper_address_mail i, #topper_address_handy i, #topper_address_street i {
  padding: 1.5rem 0 1.5rem 0;
}

.topper_address h3 {
  font-size: 2.4rem;
}

#topper_address_mail_icon:hover, #topper_address_street_icon:hover, #topper_address_handy_icon:hover {
  color: #a1a1a4;
}



/* =========== PROJEKTE =================== */


#block2 {
padding-top: 5rem;
}

#block2 h2 {
color: #3b4147;
text-align: center;
}


.grid-container-block2 {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-areas:  "haus1 haus1 haus2 haus2"
                "haus1 haus1 haus2 haus2"
                "haus3 haus3 haus4 haus4"
                "haus3 haus3 haus4 haus4";
grid-gap: 3rem;
padding: 5rem 4rem 5rem 4rem;
}

.block2-box {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 160px;
-webkit-box-shadow: 1px 2px 5px 0px #3b4147,
                    2px 4px 10px 0px #3b4147,
                    4px 8px 20px 0px #3b4147;
-moz-box-shadow:    1px 2px 5px 0px #3b4147,
                    2px 4px 10px 0px #3b4147,
                    4px 8px 20px 0px #3b4147;
box-shadow:         1px 2px 5px 0px #3b4147,
                    2px 4px 10px 0px #3b4147,
                    4px 8px 20px 0px #3b4147;
}

/* === Haus1 === */

#haus1 {
grid-area: haus1;
background-image: url("../images/luke-stackpoole-561551-unsplash.jpg");
}

.overlay-haus {
height: 100%;
width: 100%;
color: whitesmoke;
background-color: #3b4147d4;
float: right;
opacity: 0;
/* display: none; */
transition: opacity 0.25s ease-in;
/* transition: display 0.2s ease-in; */
}

.overlay-haus h3{
font-size: 2rem;
padding: 2rem 0.7rem 0 0.7rem;
text-align: justify;
padding-bottom: 3rem;
}

.overlay-haus h4 {
font-size: 1.2rem;
padding: 0 0.7rem;
text-align: justify;
}

.appear {
/* display: block; */
opacity: 1;
}

/* === Haus2 === */

#haus2 {
grid-area: haus2;
background-image: url("../images/pixasquare-622732-unsplash.jpg");
}

/* === Haus3 === */

#haus3 {
grid-area: haus3;
background-image: url("../images/scott-webb-167099-unsplash.jpg");
}

/* === Haus4 === */

#haus4 {
grid-area: haus4;
background-image: url("../images/luke-stackpoole-561551-unsplash.jpg");
}



 /* =============== LEISTUNGEN  ================ */


#block1 {
  height: 100%;
  padding-bottom: 5rem;
  padding-top: 5rem;
  background: #3b4147;
}

#block1 h2 {
  color: whitesmoke;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  grid-area: block1-h2;
}



.box-frame {
  width: 100%;
  height: 300px;    /* !!!!Diesen Wert anpassen, wenn die Boxen größer/kleienr werden sollen!!! */
  position: relative;
  margin-bottom: 4rem;
}

.text-box {
  position: absolute;
  /* -webkit-box-shadow: 10px 10px 22px 0px rgba(59,65,71,1);
  -moz-box-shadow: 10px 10px 22px 0px rgba(59,65,71,1);
  box-shadow: 10px 10px 22px 0px rgba(59,65,71,1); */
}

.img-box {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-box-shadow: 10px 10px 22px 0px rgba(59,65,71,1);
  -moz-box-shadow: 10px 10px 22px 0px rgba(59,65,71,1);
  box-shadow: 10px 10px 22px 0px rgba(59,65,71,1); */
}

.box-heading {
  font-size: 1.6rem;
  text-align: center;
  color: #000000ed;
  padding-bottom: 3rem;
}

.box-text {
  text-align: justify;
  font-size: 1.1rem;
  color: #000000;
  /* z-index: 300; */
  padding: 0 2rem 0 2rem;
}

.text-align {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* ALLIGNMENT OF TEXT AND IMAGE BOX */

.text-box-right {
  background-color: #f5f5f5e0;
  height: 75%;
  width: 45%;
  top: 5%;
  right: 8%;
  z-index: 2;
}

.img-box-left {
  height: 60%;
  width: 60%;
  bottom: 4%;
  left: 8%;
}

.text-box-left {
  background-color: #f5f5f5e0;
  height: 75%;
  width: 45%;
  top: 5%;
  left: 8%;
  z-index: 2;
}

.img-box-right {
  height: 60%;
  width: 60%;
  bottom: 4%;
  right: 8%;
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}

#box4 {
  grid-area: box4;
}

#box5 {
  grid-area: box5;
}

#box6 {
  grid-area: box6;
}

/* #box7 {
  grid-area: box7;
}

#box8 {
  grid-area: box8;
} */

/* ==========  GRUNDLAGENERMITTLUNG ============= */

#box1-2 {
  background-image: url("http://www.ib-teichmann.de/fileadmin/user_upload/content/ct_lg_grundlagenermittlung.jpg");
}

/* ==========  ENTWURFSPLANUNG ============= */

#box2-2 {
  background-image: url("http://www.ib-teichmann.de/fileadmin/user_upload/content/ct_lg_vorplanung.jpg");
}

/* ==========  GEHNEMIGUNGSPLANUNG ============= */

#box3-2 {
  background-image: url("http://www.ib-teichmann.de/fileadmin/user_upload/content/ct_lg_genehmigungsplanung.jpg");
}

/* ==========  AUSFÜHRUNGSPLANUNG ============= */

#box4-2 {
  background-image: url("http://www.ib-teichmann.de/fileadmin/user_upload/content/ct_lg_ausfuehrungsplanung.jpg");
}

/* ==========  VORBEREITUNG VERGABE ============= */

#box5-2 {
  background-image: url("http://www.ib-teichmann.de/fileadmin/user_upload/content/ct_lg_vergabevorbereitung.jpg");
}

/* ==========  MITWIRKUNG VERGABE ============= */

#box6-2 {
  background-image: url("http://www.ib-teichmann.de/fileadmin/user_upload/content/ct_lg_vergabemitwirkung.jpg");
}


/* ==========  OBJEKTÜBERWACHUNG ============= */

#box7-2 {
  background-image: url("https://www.ikz.de/fileadmin/news_import/FP1105_19_01.jpg");
}

/* ==========  OBJEKTBETREUUNG ============= */

#box8-2 {
  background-image: url("https://www.hausmeister-berlin.info/images2/Objektbetreuung-Fotolia_72254083_XS-Gina_Sanders.jpg");
}



    /* ================= FOOTER ===================  */

footer {
  width: 100%;
  color: #3b4147;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  grid-template:  ". footer_header footer_header footer_header footer_header footer_header footer_header ."
                  ". . footer_name footer_name footer_name footer_name . ."
                  ". footer_address footer_address footer_address footer_address footer_address footer_address ."
                  ". footer_handy footer_handy footer_handy footer_handy footer_handy footer_handy ."
                  ". footer_mail footer_mail footer_mail footer_mail footer_mail footer_mail ."
                  ". footer_impressum footer_impressum footer_impressum footer_datenschutz footer_datenschutz footer_datenschutz .";
  padding: 4rem 0;
}

#footer_header {
  font-size: 2rem;
  grid-area: footer_header;
}

#footer_name {
  font-size: 2rem;
  grid-area: footer_name;
  padding-bottom: 2rem;
}

#footer_address {
  font-size: 1rem;
  grid-area: footer_address;
  padding-bottom: 1.5rem;
}

#footer_address h3 {
  font-size: 1rem;
}

#footer_handy {
  grid-area: footer_handy;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

#footer_mail {
  grid-area: footer_mail;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

#footer_impressum {
  grid-area: footer_impressum;
  font-size: 0.8rem;
  text-decoration: underline;
}

#footer_datenschutz {
  grid-area: footer_datenschutz;
  font-size: 0.8rem;
  text-decoration: underline;
}

/* ========== Media Querys =============== */

 /* =============== TABLET ================= */
@media (min-width: 760px) {


 /* ===== ICON === */
  i {
    font-size: 4rem;
  }

  /* === NAV-LOGO === */

  .nav-mobile-logo {
    width: 15vw;
    height: auto;
  }

  /* === TOPPER === */


    /* === TOPPER-FIRST === */

  .topper-first {
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
  }

  .topper_h1 {
    font-size: 10rem;
  }

  #topper_name_h2 {
    font-size: 6rem;
  }

  /* === TOPPER-SECOND === */

  .topper_name {
    padding-top: 8vh;
  }

  .topper_name h3 {
    font-size: 2.3rem;
  }

  .topper_address {
    padding-top: 15vh;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
    grid-template-areas:  "icon-handy icon-handy . icon-mail icon-mail . icon-street icon-street"
                          "topper-handy topper-handy . topper-mail topper-mail . topper-street topper-street";
  }

  #topper_address_mail_icon i, #topper_address_handy_icon i, #topper_address_street_icon i {
    padding-bottom: 5rem;
  }

    #topper_address_handy, #topper_address_mail, #topper_address_street {
    font-size: 2.8rem;
  }

  /* === BLOCK 1 === */

  #block1 h2, #block2 h2 {
    font-size: 6rem;
  }

  #block1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    grid-template-areas:  ". . block1-h2 block1-h2 block1-h2 block1-h2 block1-h2 block1-h2 block1-h2 block1-h2 . ."
                          ". box1 box1 box1 box1 box1 box2 box2 box2 box2 box2 ."
                          ". box3 box3 box3 box3 box3 box4 box4 box4 box4 box4 ."
                          ". box5 box5 box5 box5 box5 box6 box6 box6 box6 box6 ."
                          ". box7 box7 box7 box7 box7 box8 box8 box8 box8 box8 ."
  }

  .box-heading {
    font-size: 1.9rem;
  }

  .box-text {
    font-size: 1.4rem;
  }

  /* === BLOCK 2 === */

  .block2-box {
    height: 250px;
  }

  .grid-container-block2 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:  ". haus1 haus1 haus1 haus2 haus2 haus2 ."
                          ". haus1 haus1 haus1 haus2 haus2 haus2 ."
                          ". haus3 haus3 haus3 haus4 haus4 haus4 ."
                          ". haus3 haus3 haus3 haus4 haus4 haus4 .";
  }

  .overlay-haus h3 {
    font-size: 3rem;
  }

  .overlay-haus h4 {
    font-size: 2rem;
  }

  /* === FOOTER === */

  #footer_header, #footer_name {
    font-size: 3rem;
  }

  #footer_address h3, #footer_handy, #footer_mail {
    font-size: 2rem;
  }

  #footer_datenschutz, #footer_impressum {
    font-size: 1.5rem;
  }
}


  /* ==================== DESKTOP =================== */

  /* @media screen (min-width: ) {

  } */
