 /* =================== STYLESHEET VITA =================== */

/* === TOPPER IMAGE === */

#topper-first-vita {
  background-image: url("../images/maria-fernanda-gonzalez-569256-unsplash.jpg");
}


.vita-img {
  display: none;
  background-image: url("../images/maria-fernanda-gonzalez-569256-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* === VITA HEADER === */

#header-vita {
  display: none;
  text-align: center;
  padding-bottom: 3rem;
}

/* === VITA TEXT === */

.vita {
  background: #3b4147;
  color: whitesmoke;
  text-align: justify;
  padding: 2rem 3rem;
}

.vita-text p, .vita-text ul {
  font-size: 2rem;
  line-height: 1.3;
}


/* ============ DESKTOP VERSION ============== */

@media (min-width: 760px) {

  main {
    padding-top: 10vh;
  }

  .vita {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    min-height: 100vh;
    padding: 0;
  }

  .topper {
    display: none;
  }

  .vita-text {
    width: 50%;
    padding: 2rem;
  }

  .vita-img {
    display: block;
    width: 50%;
  }

  #header-vita {
    display: block;
    font-size: 5rem;
  }
